In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('obesity.csv')

In [3]:
df.head()

   OBJECTID        NAME  Obesity   Shape__Area  Shape__Length
0         1       Texas     32.4  7.672329e+12   1.540832e+07
1         2  California     24.2  5.327809e+12   1.451870e+07
2         3    Kentucky     34.6  1.128830e+12   6.346699e+06
3         4     Georgia     30.7  1.652980e+12   5.795596e+06
4         5   Wisconsin     30.7  1.567816e+12   6.806782e+06

In [12]:
df.shape

(51, 5)

In [5]:
df.isnull().sum()

OBJECTID         0
NAME             0
Obesity          0
Shape__Area      1
Shape__Length    1
dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OBJECTID       52 non-null     int64
 1   NAME           52 non-null     object
 2   Obesity        52 non-null     float64
 3   Shape__Area    51 non-null     float64
 4   Shape__Length  51 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 2.2+ KB

In [9]:
df.dropna(inplace=True)

In [10]:
df.isnull().sum()

OBJECTID         0
NAME             0
Obesity          0
Shape__Area      0
Shape__Length    0
dtype: int64

In [11]:
df.shape

(51, 5)